# VITE_API_BASE_URL: URL kết nối tới Backend NodeJS + Express của BIN (Module 9, 16)
VITE_API_BASE_URL="http://localhost:5000/api"

# VITE_RPC_URL: URL kết nối tới Blockchain RPC (Sepolia/Hardhat Local) của CÔNG (Module 12, 14)
VITE_RPC_URL="https://rpc.sepolia.org"

# VITE_CHAIN_ID: ID Mạng lưới hỗ trợ (11155111 cho Sepolia, 31337 cho Hardhat Local)
VITE_CHAIN_ID="11155111"
