@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Source Serif 4", Georgia, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: #001e40;
  --color-primary-container: #003366;
  --color-on-primary-container: #799dd6;
  --color-secondary-container: #d0e1fb;
  --color-on-secondary-container: #54647a;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f4f3f8;
  --color-surface-container: #eeedf2;
  --color-surface-container-high: #e8e8ed;
  --color-surface-container-highest: #e2e2e7;
  --color-background: #f9f9fe;
}
